- name: Template image customization
  ansible.builtin.template:
    src: letsgoski.bash
    dest: letsgoski.bash
    mode: 0770

- name: re-add ssh keys
  ansible.builtin.shell: |
    echo 'cat > /home/{{ ansible_user }}/.ssh/authorized_keys << EOM' >> "letsgoski.bash"
    cat ~/.ssh/authorized_keys >> "letsgoski.bash"
    echo EOM >> "letsgoski.bash"

- name: Download customization script to your /tmp 
  ansible.builtin.fetch:
    src: letsgoski.bash
    dest: /tmp/letsgoski-{{ inventory_hostname }}.bash
    flat: true
